@use "sass:color";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import "../variable.scss";

.navbar {
  background: color.change($primary_theme_color, $alpha: 0.5);
  color: black;
  padding: 12px;
  box-shadow: color.change($primary_theme_color, $alpha: 0.8, $saturation: 40%)
    0px 4px 4px;

  @include navbarHeight;

  .container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: var(--navbar-height);
    align-items: center;

    .logo {
      font-size: var(--navbar-height);
      font-family: "Jeju Gothic", sans-serif;
      font-weight: 600;
      margin-top: 3px;
    }

    .menu {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 40px;

      .item {
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
      }
    }

    .icons {
      margin-left: auto;

      .item {
        display: inline-block;
        & + .item {
          margin-left: 30px;
          @media screen and (max-width: 500px) {
            margin-left: 10px;
          }
        }
      }

      svg,
      .profileImg {
        color: black;
        height: 36px;

        &.profileImg {
          display: inline-block;
          border-radius: 18px;
          width: 36px;
          background-size: cover;
          margin-bottom: -3px;
        }

        @media screen and (max-width: 500px) {
          height: 24px;
          &.profileImg {
            border-radius: 12px;
            width: 24px;
          }
        }
      }
    }
  }

  .mobileMenu {
    margin-top: 10px;

    .item {
      display: block;
      padding: 10px 0px;
      @media screen and (max-width: 500px) {
        padding: 6px 0px;
      }
      @media screen and (max-width: 400px) {
        padding: 4px 0px;
      }
      font-size: 16px;
      font-weight: 700;
    }
  }
}
