html {
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 100%;
}

a, a:visited, a:hover, a:active {
  color: unset;
  text-decoration: none;
}