.container {
    margin: 0px auto;
    width: 1024px;
}

@media screen and (min-width: 1023px) {
    .mobileOnly {
        display: none !important;
    }   
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0px 20px;
        width: initial;
    }

    .desktopOnly {
        display: none !important;
    }
}
