@use "sass:color";
@import "../../../variable.scss";

.container {
  display: flex;
  flex-direction: row;

  .fill {
    fill: $primary_theme_color;
  }

  .commentsPopup {
    border-radius: 15px;
    background-color: $primary_theme_color;
    padding: 20px 0px;
    min-width: 500px;

    .newComment {
      padding: 0px 30px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      form {
        flex: 1;
        input {
          width: 100%;
        }
      }
    }

    .divider {
      margin: 20px 0px;
      border: color.change(
          $primary_theme_color,
          $saturation: 50%,
          $lightness: 50%
        )
        solid;
      border-width: 0.3px 0px 0px 0px;
    }

    .comments {
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .comment {
        color: black;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;

        .replyTo {
          margin-left: auto;
          margin-top: 0.6em;
        }

        .cancelReply {
          align-self: center;
        }

        form {
          flex: 1;
          input {
            width: 100%;
          }
        }

        .content {
          max-width: 30em;
          word-break: break-all;
          overflow-wrap: anywhere;
          white-space: break-spaces;
          align-self: center;
          .writer {
            font-size: 70%;
            color: #5e5e5e;
            .delete {
              color: #8b0000;
            }
          }
        }
      }
      .subcomments {
        padding-left: 50px;
        padding-right: 0px;
      }
    }

    input[type="text"] {
      display: inline;
      background-color: #eeeeee;
      border-radius: 20px;
      height: 50px;
      box-sizing: border-box;
      padding: 15px 20px;
      border: none;
    }

    .profile {
      display: inline;
      height: 50px;
      min-width: 50px;
      width: 50px;
      border-radius: 25px;
      background-color: gray;
      background-size: cover;
    }
  }
}
