@import "../../variable.scss";

.layoutRoot {
  min-height: 100vh;

  .layoutContainer {
    @include navbarHeight;
    $minHeight: calc(100vh - var(--navbar-height) - 24px);
    display: flex;
    flex-direction: row;
    min-height: $minHeight;
    .children {
      width: 100%;
      min-height: $minHeight;
      box-sizing: border-box;
      & > * {
        box-sizing: border-box;
      }
    }
  }
}
