.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 50px;
  gap: 10px;
  box-sizing: border-box;

  button {
    width: fit-content;
    align-self: flex-end;
  }

  .code {
    flex: 1;
  }
}
