.codes {
  display: flex;
  flex-direction: row;
  margin: 30px;
  width: 100%;
  .left {
    flex: 1;
    border: #ebffe5 8px solid;
    border-right-width: 4px;
    border-radius: 15px 0px 0px 15px;
    margin: 0px;
    padding: 20px 0px;
  }
  .right {
    flex: 1;
    border: #ebffe5 8px solid;
    border-left-width: 4px;
    border-radius: 0px 15px 15px 0px;
    margin: 0px;
    padding: 20px 0px;
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    gap: 10px;
    .left {
      border-right-width: 8px;
      border-radius: 15px;
    }
    .right {
      border-left-width: 8px;
      border-radius: 15px;
    }
  }
}
